/* Vars */
:root {
  /* Transitions */
  --transition: all 0.5s cubic-bezier(0.44, 0, 0.56, 1);
  /* --transition: all 0.4s ease-in-out; */

  /* Fonts */

  --fontPrimary: 'Hanken Grotesk', sans-serif;
  --fontSecondary: 'Hanken Grotesk', sans-serif;

  /* Overlay style */

  --overlayBlur: 10px;
  --zIndex: 100;

  /* Sidebar styles */
  --sidebarBg: #f3ecd2;
  --sidebarPadding: 12px 32px 120px 32px;
  --sidebarPaddingMobile: 12px 16px 32px 16px;

  /* Sidebar heaader */
  --sidebarHeaderBg: var(--sidebarBg);
  --sidebarHeaderPadding: 12px 32px;
  --sidebarHeaderPaddingMobile: 12px 16px;
  --sidebarHeaderShadowScrolled: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  /* Close sidebar button */

  --closeSize: 32px;
  --crossColor: #020416;
  --lineHeight: 2px;
  --hoverColor: #616483;
  --rotateAngle: 0deg;

  /* Sidebar image */
  --imageHeight: 600px;
  --imageHeightMobile: 400px;
  --ImageMarginBottom: 24px;
  --imageWidth: 100%;
  --imageRadius: 12px;
  --imagePosition: top;

  /* Title */
  --sizeTitle: 32px;
  --sizeMobileTitle: 24px;
  --titleMarginBottom: 14px;
  --lineHeightTitle: 120%;
  --colorTitle: #020416;
  --fontWeightTitle: 400;

  /* Text */
  --sizeText: 16px;
  --sizeMobileText: 16px;
  --lineHeightText: 150%;
  --colorText: #06021d;
  --fontWeightText: 400;
  --sizeMobileText: 14px;
}

/* Sidebar styles */

.sidebar {
  background-color: var(--sidebarBg);
  overflow: auto;
  /* transition: var(--transition); */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

.sidebar.active {
  right: 0;
}

.sidebar-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--zIndex);
}
@media (max-width: 640px) {
  .sidebar-header {
    padding: var(--sidebarHeaderPaddingMobile);
  }
}

.sidebar-header.scrolled {
  box-shadow: var(--sidebarHeaderShadowScrolled);
  border-bottom: var(--sidebarHeaderBorderBottom);
}

.close-sidebar {
  position: relative;
  width: var(--closeSize);
  height: var(--closeSize);
  cursor: pointer;
  z-index: 10;
  overflow: hidden;
}

.close-sidebar:hover {
  rotate: var(--rotateAngle);
}

.close-sidebar span {
  position: absolute;
  width: 100%;
  height: var(--lineHeight);
  background-color: var(--crossColor);
  border-radius: 20px;
  transition: var(--transition);
}

.close-sidebar span:first-child {
  rotate: 45deg;
  top: 50%;
}
.close-sidebar span:last-child {
  rotate: -45deg;
  top: 50%;
}

.close-sidebar:hover span {
  background-color: var(--hoverColor);
}

.sidebar-content {
  padding: var(--sidebarPadding);
}

@media (max-width: 640px) {
  .sidebar-content {
    padding: var(--sidebarPaddingMobile);
  }
}

.close-sidebar:hover {
  transform: rotate(var(--rotateAngle));
}

.sidebar__image {
  min-height: var(--imageHeight);
  max-width: var(--imageWidth);
  border-radius: var(--imageRadius);
  overflow: hidden;
  position: relative;
  margin-bottom: var(--ImageMarginBottom);
  background-position: var(--imagePosition);
}

.sidebar__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 640px) {
  .sidebar__image {
    min-height: var(--imageHeightMobile);
  }
}

.sidebar__title {
  font-size: var(--sizeTitle);
  font-family: var(--fontPrimary);
  line-height: var(--lineHeightTitle);
  font-weight: var(--fontWeightTitle);
  margin-bottom: var(--titleMarginBottom);
  color: var(--colorTitle);
}
@media (max-width: 640px) {
  .sidebar__title {
    font-size: var(--sizeMobileTitle);
  }
}

.sidebar__text {
  font-size: var(--sizeText);
  font-family: var(--fontSecondary);
  line-height: var(--lineHeightText);
  font-weight: var(--fontWeightText);
  color: var(--colorText);
}
@media (max-width: 640px) {
  .sidebar__text {
    font-size: var(--sizeMobileText);
  }
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: var(--zIndex);
  pointer-events: all;
  background-color: var(--overlayBG);
}

.locked {
  overflow: hidden;
}

/* Page content imitation */

body {
  background-color: var(--sidebarBg);
}
p {
  margin: 0;
  padding: 0;
}
.page__content {
  padding-block: 150px;
}
.page__container {
  max-width: 940px;
  margin: 0 auto;
}
.page__image {
  margin-bottom: 16px;
  max-width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}
.page__title {
  font-size: 32px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.page__text {
  max-width: 600px;
}

.settings-trigger {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 2223;
}

.btn-settings {
  width: max-content;
}

.settings {
  position: fixed;
  height: 100vh;
  width: 400px;
  padding-top: 82px;
  padding-inline: 16px;
  bottom: 0;
  left: 0;
  z-index: 2222;
  transition: all 0.7s cubic-bezier(0.22, 0.4, 0.36, 1);
  overflow: auto;
}

.settings.hidden {
  left: -102%;
}
@media (max-width: 1024px){
    .settings{
      display: none;
    }
}

.settings__group {
  padding: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


@media (max-width: 1024px){
    .settings{
      display: none;
    }
    .sidebar{
      display: none;

    }

    .overlay{
      display: none;
    }

    .page__content{
      display: none;
    }

    .settings-trigger{
      display: none;
    }

    .page-empty{
      display: flex;
    }
}



.page-empty {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page__empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-empty {
}
.content-empty__icon {
  width:120px;
  height: 120px;
  position: relative;
}

.content-empty__icon img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-empty__text {
  font-size: 18px;
}
.content-empty__title {
  font-size: 40px;
}